nav{
    display: flex;
    justify-content: space-between;
    padding: 2vw 7vw;
    
    
}
nav img{
    width: 7vw;
}
.right{
    display: flex;
    gap: 50px;
    padding-right: 25%;

}
.right a{
    color: #fff;
    font-size: 1.1vw;
   
    text-decoration: none;
}