.hero{
    display: flex;
    padding: 2vw 7vw;
    align-items: center;
    gap:80px;

}
.hero-text{
width: 50%;
}
.hero-text h1{
    font-size: 4vw;
}
.hero-text p{
    margin-top:30px;
    font-size: 1.1vw;
}
.hero-text button{
    cursor: pointer;
    margin-top: 40px;
    background: #442F90;
    color: #fff;
    padding: 20px;
    font-size: 1.1vw;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: capitalize;
}
.hero-img{
    width: 50%;
}
.hero-img img{
    width: 80%;
}